<!-- Series Card Partial Template -->
<div class="series-card" data-post-id="<%= post.id %>">
  <div class="card-image-container">
    <a href="#" class="block">
      <img class="card-image" src="<%= post.image %>" alt="<%= post.title %>">
    </a>
    <span class="card-category-badge <%= post.categoryColor %>"><%= post.category %></span>
    <span class="slide-date-badge"><%= post.date %></span>
  </div>
  <div class="card-content">
    <h3 class="card-title">
      <a href="#"><%= post.title %></a>
    </h3>
    <p class="card-description">
      <%= post.description %>
    </p>
  </div>
  <div class="card-footer">
    <div class="card-stats">
      <div class="stat-item" title="Lượt xem">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16"><path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/><path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/></svg>
        <span><%= post.views %></span>
      </div>
      <div class="stat-item" title="Đánh giá (<%= post.ratingCount %>)">
        <div class="flex items-center">
          <% for (let i = 0; i < 5; i++) { %>
            <% if (i < Math.floor(post.rating)) { %>
              <svg class="icon-sm text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.286 3.971h4.172c.969 0 1.371 1.24.588 1.81l-3.38 2.455 1.287 3.971c.3.921-.755 1.688-1.54 1.182L10 13.34l-3.379 2.455c-.784.506-1.84-.261-1.54-1.182l1.287-3.971-3.38-2.455c-.783-.57-.38-1.81.588-1.81h4.172l1.286-3.971z"></path></svg>
            <% } else { %>
              <svg class="icon-sm text-gray-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.286 3.971h4.172c.969 0 1.371 1.24.588 1.81l-3.38 2.455 1.287 3.971c.3.921-.755 1.688-1.54 1.182L10 13.34l-3.379 2.455c-.784.506-1.84-.261-1.54-1.182l1.287-3.971-3.38-2.455c-.783-.57-.38-1.81.588-1.81h4.172l1.286-3.971z"></path></svg>
            <% } %>
          <% } %>
        </div>
        <span>(<%= post.ratingCount %>)</span>
      </div>
    </div>
    <button class="card-share-button" title="Chia sẻ">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 512 512"><path d="M384 192c53 0 96-43 96-96s-43-96-96-96-96 43-96 96c0 5.4 .5 10.8 1.3 16L159.6 184.1c-16.9-15-39.2-24.1-63.6-24.1-53 0-96 43-96 96s43 96 96 96c24.4 0 46.6-9.1 63.6-24.1L289.3 400c-.9 5.2-1.3 10.5-1.3 16 0 53 43 96 96 96s96-43 96-96-43-96-96-96c-24.4 0-46.6 9.1-63.6 24.1L190.7 272c.9-5.2 1.3-10.5 1.3-16s-.5-10.8-1.3-16l129.7-72.1c16.9 15 39.2 24.1 63.6 24.1z"/></svg>
    </button>
  </div>
</div>
